$contentBackground: #fff;
$articleBackground: #efefef;
$fontStack:Arial, Helvetica, sans-serif;
$fontColor: #617d8a;
$headColor: #1fbcd3;
$postHeadColor:#1697a6;
$postDescriptionColor:#159587;
$postTextColor:#617d8a;
$postBorderColor:#617d8a;