$contentBackground: #efefef;
$articleBackground: #fff;
$fontStack:"Times New Roman", Times, serif;
$fontColor: #757575;
$headColor: #fc5830;
$postHeadColor:#617d8a;
$postDescriptionColor:#bdbdbd;
$postTextColor:#757575;
$postBorderColor:#cfd8dc;